.cabeçalho__menu-hamburguer{
    background-image: url("../img/Menu.svg");
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

/* Classe abaixo escrito errado. Certo: container__imagem */

.container__imagem {
    padding: 0.5em;

}

.menu-lista {
    display: none;
    position: absolute;
    top: 78%;
    width: 80%;
    padding: 0;
}

.container__botao:checked~.menu-lista {
    display: block;
    text-decoration: none;
}
