.cabeçalho__menu-hamburguer{
    background-image: url("../img/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    text-decoration: none;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

/* Classe abaixo escrito errado. Certo: container__imagem */

.container__imagem {
    padding: 0.5em;

}

